
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .image-genarator{
    background: url("images/bg.jpg");
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
  }

  .image-genarator::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.5;
    height: 300px
  }  

  .image-genarator .content{
    color: white;
    max-width: 760px;
    text-align: center;
    padding: 0 20px;
    position: relative;
  }

  .image-genarator h1{
    font-size: 38px;
    width: 700px;
  }

  .image-genarator p{
    font-size: 15px;
    margin-top: 10px;
  }
